button.btnAdd {
    width: 98%;
    height: 40px;
    margin: 5px auto 30px 3px;
    color: white;
    background-color: #ff1493;
    border-style: none;
    border-radius: 5px;
    font-size: 25px;
}

input {
    width: 98%;
    margin: 0 auto;
    height: 30px;
    border-radius: 5px;
    border-color: #eee;
    border-style: solid;
    color: #bbb;
    font-size: 25px;
}
