/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
     background: linear-gradient(to right, #f857a6, #ff5858);
     font-family: Open Sans;
     Font-weight: 300;
     
}

.strikeThrough {
     text-decoration: line-through;
}



